

img {
  display: block;
  // max-inline-size: 100%;
}
body{
  font-family: Lato;
}
.container{
  padding: 0 20px;
  margin: 0;
}
@media screen and (min-width:1500px){
  .container{
    padding: 0 250px;
    
  }
}

@media screen and (min-width:1920px) {
  .container {
    padding: 0 350px;

  }
}