@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixsins.scss" as *;



img {
  display: block;
  // max-inline-size: 100%;
}
body{
  font-family: Lato;
  margin: 0;
  
  background-color: $white;
  
  
}
a{
  text-decoration: none;
  
}
.container{
  
  padding: 0 20px;
  margin: 0;

}
@media screen and (min-width:1500px){
  .container{
    padding: 0 250px;
    
  }
}

@media screen and (min-width:1920px) {
  .container {
    
    padding: 0 350px;


  }
}

