@use "/src/sass/base/variables.scss" as *;
@mixin header-title{
    font-weight: 900;
    color: $black;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    @media screen and (min-width:768px) {
        font-size: 36px;
    }
     
}

@mixin header-footer-title {
    font-weight: 900;
    color: $white;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width:768px) {
        font-size: 36px;
    }

}
