@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixsins.scss" as *;

.products{
  margin-top: 130px;
  &__title{
      font-weight: 900;
      font-size: 48px;
      margin: 0;
  }
  &__swiper{
    margin-top: 60px;
  }
  &__img{
    background-color: $beige;
    // padding: 60px;
    justify-content: center;
      align-items: center;
      aspect-ratio: 1 / 1;
    border-radius:25px;
    position: relative;
  transition: border-radius 0.4s ease;
    img{
      width:266px;
      padding-top: 60px;
      margin: auto;
      height: auto;
        transition: transform 0.4s ease;
    }
                     &::after {
              content: "";
                /* Залишаємо порожнім, іконки-шрифту більше немає */
                position: absolute;
                top: 3px;
               left:320px;
              
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: $black;
                z-index: 2;
              
                /* === МАГІЯ ПЛЮСИКА === */
                background-image:
                  linear-gradient($white, $white),
                  /* Вертикальний блок-лінія */
                  linear-gradient($white, $white);
                /* Горизонтальний блок-лінія */
              
                background-size:
                  2px 34px,
                  /* Вертикальна: товщина 2px, висота 20px */
                  34px 2px;
                /* Горизонтальна: ширина 20px, товщина 2px */
              
                background-position: center;
                /* Центруємо обидві лінії */
                background-repeat: no-repeat;
                /* Щоб вони не розмножувались */
              
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
                     }
    &:hover,&:active {
      cursor: pointer; // cite
      border-radius: 50%; // cite (Робить контейнер круглим)
  
      img {
        width: 320px;
        height: 330px;
      transform:  rotate(5deg);
      position: absolute;
      bottom:40px ;
      left: 40px;
      }
  
      // --- ПОКАЗУЄМО ПЛЮСИК ПРИ НАВЕДЕННІ ---
      &::after {
        opacity: 1; // cite (Робимо видимим)
        visibility: visible; // cite
      }
    }
  }
  &__informastion{
    margin-top: 20px;
    &-title{
        font-weight: 700;
      margin: 0;
        font-size: 24px;
    }
    &-size{
      display: flex;
      justify-content: space-between;
        font-weight: 400;
        font-size: 21px;
    }
  }

  &__controls{
  margin-top: 60px;
  justify-content: center;
  align-items:center;
    display: flex;
    &-arrow{
      font-size: 30px;
      margin:0 50px;
      cursor: pointer;
    }
  &-pagination{
    display: flex;
    column-gap:30px;
  position: static;
    position: static;
      width: auto !important;
   
span{
  width: 16px;
  height: 16px;
      background-color: $dis-active;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
          &:active {
              background-color: $black;
            }
}
  }
  }
}

@media screen and (max-width:1500px) {
  .products{
    margin-top: 115px;
      &__title {
          font-weight: 900;
          font-size: 40px;
          margin: 0;
        }
    &__swiper{
      margin-top: 45px;
    }

 &__img {
   background-color: $beige;
   // padding: 60px;
   justify-content: center;
   align-items: center;
   aspect-ratio: 1 / 1;
   border-radius: 25px;
   position: relative;
   transition: border-radius 0.4s ease;

   img {
     width: 245px;
     padding-top: 40px;
     margin: auto;
     height: auto;
     transition: transform 0.4s ease;
   }

   &::after {
     content: "";
     /* Залишаємо порожнім, іконки-шрифту більше немає */
     position: absolute;
     top: 3px;
     left: 260px;

     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color: $black;
     z-index: 2;

     /* === МАГІЯ ПЛЮСИКА === */
     background-image:
       linear-gradient($white, $white),
       /* Вертикальний блок-лінія */
       linear-gradient($white, $white);
     /* Горизонтальний блок-лінія */

     background-size:
       2px 30px,
       /* Вертикальна: товщина 2px, висота 20px */
       30px 2px;
     /* Горизонтальна: ширина 20px, товщина 2px */

     background-position: center;
     /* Центруємо обидві лінії */
     background-repeat: no-repeat;
     /* Щоб вони не розмножувались */

     opacity: 0;
     visibility: hidden;
     transition: all 0.3s ease;
   }

   &:hover,
   &:active {
     cursor: pointer; // cite
     border-radius: 50%; // cite (Робить контейнер круглим)

     img {
       width: 265px;
       height: 265px;
       transform: rotate(5deg);
       position: absolute;
       bottom: 35px;
       left: 35px;
     }

     // --- ПОКАЗУЄМО ПЛЮСИК ПРИ НАВЕДЕННІ ---
     &::after {
       opacity: 1; // cite (Робимо видимим)
       visibility: visible; // cite
     }
   }
 }

 &__informastion {
   margin-top: 15px;

   &-title {
     font-weight: 700;
     margin: 0;
     font-size: 24px;
   }

   &-size {
     display: flex;
     justify-content: space-between;
     font-weight: 400;
     font-size: 21px;
   }
 }

 &__controls {
   margin-top: 50px;
   justify-content: center;
   align-items: center;
   display: flex;

   &-arrow {
     font-size: 30px;
     margin: 0 50px;
     cursor: pointer;
   }

   &-pagination {
     display: flex;
     column-gap: 25px;
     position: static;
     position: static;
     width: auto !important;

     span {
       width: 16px;
       height: 16px;
       background-color: $dis-active;
       border-radius: 50%;
       cursor: pointer;
       transition: 0.3s;

       &:active {
         background-color: $black;
       }
     }
   }
 }
  }
}
