@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixsins.scss" as *;

.header {
  background-color: $white;
  padding-top: 30px;

  a {
    text-decoration: none;
    color: $black;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  &__burger {

    &-desktop {
      display: flex;
      column-gap: 50px;
      font-weight: 400;
      font-size: 21px;
      color: $black;
    }

    &-mobile {
      display: none;
    }

    &-big,
    &-medium {
      height: 1px;
      background-color: $black;
    }

    &-big {
      width: 40px;
    }

    &-medium {
      width: 30px;
    }
  }
  
  &__title {

    &-desktop {
      display: block;
      margin: 0;
      @include header-title;
    }

    &-mobile {
      display: none;
    }
  }

 
  &__links {

    &-desktop {
      display: flex;
      column-gap: 50px;
      font-weight: 400;
      font-size: 21px;
      color: $black;
    }

    &-mobile {
      display: none;
    }

    &-search {
      display: block;
      font-size: 21px;
    }

    &-cart {
      font-size: 21px;
    }
  }

}

@media (max-width: 1500px) {
  .header {

    &__burger-desktop {
      column-gap: 30px;
    }

    &__links-desktop {
      column-gap: 30px;
    }
  }
}
@media (max-width: 1000px) {
  .header {

    &__links {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: flex;
        column-gap: 30px;
      }
    }
  }
}
@media (max-width: 768px) {
  .header {

    &__links-search {
      display: none;
    }
  }
}
@media (max-width: 480px) {
  .header {

    padding-top: 20px;

    &__title {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: block;
        margin: 0;
        @include header-title;
      }
    }

    &__burger {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        width: 40px;
      }
    }

    &__links {
      &-mobile {
        display: flex;
      }
    }
  }
}