
@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/base.scss";
@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/ui/poxterm.scss";
@use "/src/sass/icon/fontello.css";
//bloks-repeat
@use "/src/sass/bloks-repeat/header.scss";
@use "/src/sass/bloks-repeat/footer.scss";