
@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/base.scss";
@use "/src/sass/base/mixsins.scss" as *;
@use "/src/sass/ui/poxterm.scss";
@use "/src/sass/icon/fontello.css";
//bloks-repeat
@use "/src/sass/bloks-repeat/header.scss";
@use "/src/sass/bloks-repeat/footer.scss";
//style-repeat
@use "/src/sass/style-repeat/button.scss";
@use "/src/sass/style-repeat/title.scss";
@use "/src/sass/style-repeat/section-bg.scss";
//bloks
@use "/src/sass/bloks/hero.scss";